* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Heavy";
  src: local("Liberator-Heavy"),
    url("./components/Fonts/Liberator/Liberator-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Light";
  src: local("Liberator-Light"),
    url("./components/Fonts/Liberator/Liberator-Light.otf") format("opentype");
}

@font-face {
  font-family: "Medium";
  src: local("Liberator-Medium"),
    url("./components/Fonts/Liberator/Liberator-Medium.otf") format("opentype");
}

header {
  background-color: #022a3a;
  font-size: 16px;
  color: #e8b00f;
  padding-top: 20px;
  /* position: fixed; */
  width: 100%;
  top: 0;
  height: 90px;
  /* overflow: hidden; */
  /* z-index: 1; */
  /* make it fixed to the top??? */
}

.firstclass {
  margin-top: -99px;
  margin-left: 94%;
}

.pg-name {
  font-family: "Heavy";
  font-size: 40px;
  line-height: .8em;
  text-align: center;
}

.pg-subname {
  font-family: "Light";
  font-size: 20px;
  padding-bottom: 8px;
  text-align: center;
}

/* nav {
  width: 100%;
  padding-bottom: 10px;
  z-index: 1;
} */

.menu-btn {
  margin-top: -145px;
  margin-left: 10px;
  /* background-color: #022a3a; */
  color: #c6ccd0;
  size: 4em;
}

/* nav ul li {
  margin-right: 15px;
  list-style: none;
  display: inline;
} */

.navlink {
  text-decoration: none;
  color: #022a3a;
  font-size: 19px;
  font-family: "Medium";
  list-style: none;
}

/* .navlink:hover,
.navlink:active,
.navlink:focus {
  text-decoration: none;
} */

/* .dropdown-navlink {
  text-decoration: none;
  color: #e8b00f;
  font-size: 19px;
  font-family: "Medium";
  -webkit-text-stroke-width: .9px;
  -webkit-text-stroke-color: #022a3a;
} */

.navlink:hover {
  cursor: pointer;
}

/* .navbutton {
  margin: 10px;
  font-size: 19px;
  font-family: "Medium";
} */

.ntag-logo {
  padding: 15px;
}

.card {
  width: 80%;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
  text-align: center;
}

.subcard {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
}

.gallery-cards {
  text-align: center;
}

.gallery {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 8%;
  columns: 3;
}

.pgheader {
  font-family: "Light";
  font-size: 32px;
  padding-top: 10px;
  text-align: center;
}

.contact-pgheader,
.benefits-pgheader,
.resources-pgheader {
  font-family: "Light";
  font-size: 32px;
  padding-top: 20px;
  text-align: center;
}

.pg-subheading {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.name {
  font-family: "Medium";
  font-size: 24px;
}

.title {
  font-family: "Light";
  font-size: 20px;
}

.text {
  text-align: center;
}

.link {
  text-decoration: underline;
  color: #0076a9;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
  color: #e8b00f;
}

.icon {
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}

.icon {
  color: #0076a9;
}

.icon:hover {
  color: #e8b00f;
}

.survey,
.appt {
  margin-bottom: 80px;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.backtotop-btn {
  position: fixed;
  bottom: 60px;
  right: 25px;
  cursor: pointer;
  border: none;
  color: gray;
}

.backtotop-btn:hover {
  color: black;
}

footer {
  font-size: 16px;
  color: #c6ccd0;
  padding: 10px;
  position: fixed;
  bottom: 0;
  background-color: #022a3a;
  width: 100%;
}

footer p {
  font-family: "Light";
}

@media only screen and (max-width: 700px) {

  .gallery {
    width: 100%;
    columns: 1;
  }

}