* {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Heavy";
  src: local("Liberator-Heavy"),
    url("./components/Fonts/Liberator/Liberator-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Light";
  src: local("Liberator-Light"),
    url("./components/Fonts/Liberator/Liberator-Light.otf") format("opentype");
}

@font-face {
  font-family: "Medium";
  src: local("Liberator-Medium"),
    url("./components/Fonts/Liberator/Liberator-Medium.otf") format("opentype");
}

header {
  background-color: #022a3a;
  min-height: 10vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  top: 0;
  font-size: 16px;
  color: #e8b00f;
  padding: 20px;
}

header h1 {
  font-family: "Heavy";
  font-size: 40px;
}

header h2 {
  font-family: "Light";
  font-size: 20px;
  padding: 5px;
}

/* beginning of nav css */
nav {
  position: absolute;
  width: 100%;
  margin-top: -30px;
}

nav ul li {
  margin: 10px;
  text-decoration: none;
  color: #c6ccd0;
}

.navlink {
  list-style: none;
  display: inline;
  font-family: "Light";
}

/* .navicon {
  position: relative;
  margin-right: 10px;
  margin-top: -15px;
}

.navicon {
  color: white;
}

.navicon:hover {
  color: gray;
} */

.navlink:hover,
.active {
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e8b00f;
  font-family: "Light";
}

/* ending of nav css */

.pgheader {
  font-family: "Light";
  padding-top: 40px;
  font-size: 32px;
}

.home-p,
.about-p,
.contact-p,
.process-p,
.benefits-p,
.resources-p,
.blog-p {
  color: black;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.name {
  font-family: "Medium";
  font-size: 24px;
  padding: 3px;
}

.title {
  font-family: "Light";
  font-size: 20px;
  padding: 3px;
}

.collapsible {
  background-color: #c6ccd0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px #022a3a;
}

.Collapsible__trigger {
  font-family: "Light";
  font-size: 20px;
}

.icon {
  padding-left: 10px;
  padding-right: 10px;
}

.icon {
  color: #022a3a;
}

.icon:hover {
  color: #0076a9;
}

footer {
  font-size: 16px;
  color: #c6ccd0;
  /* min-height: 10vh; */
  padding: 10px;
  position: fixed;
  bottom: 0;
  background-color: #022a3a;
  width: 100%;
}

footer p {
  font-family: "Light";
}